---
import BgText from "./BgText.astro";
import MobileTopText from "./MobileTopText.astro";
import Location from "./Location.astro";
import Schedule from "./Schedule.astro";
---

<div class="section relative grid grid-cols-12 pl-5 md:pl-0" id="details">
  <BgText />
  <MobileTopText />
  <Location />
  <Schedule />
</div>
