---
import KRLogo from "../KRLogo.astro";
import BgText from "./BgText.astro";
import MobileTopText from "./MobileTopText.astro";
import Location from "./Location.astro";
import Schedule from "./Schedule.astro";
---

<section class="section relative pl-5 md:pl-0" id="details">
  <div class="relative grid h-full grid-cols-12 md:max-h-[1080px]">
    <BgText />
    <MobileTopText />
    <Location />
    <Schedule />
  </div>
</section>
