<div
  class="relative bottom-0 z-10 col-span-12 w-full bg-green-dark shadow-xl md:absolute md:z-0 md:col-start-2 md:col-end-7 md:mr-0 md:pb-10 md:pr-10 xl:pr-20"
>
  <img
    src="/images/details/bg-img-left.jpg"
    alt=""
    class="absolute -left-20 bottom-0 hidden h-40 only:w-20 md:block"
  />
  <div class="bg-white shadow-polaroid">
    <div class="w-full pr-3">
      <div
        class="h-[300px] w-full bg-cover"
        style={`background-image: url(${"/images/details/location.jpg"})`}
      >
      </div>
    </div>
    <div class="mx-[28px] flex flex-col gap-8 py-10 text-darkest">
      <div class="flex flex-col">
        <p class="b1">No parking available at the venue</p>
        <div class="flex justify-between">
          <p class="b1">Parking and Shuttle</p>
          <p class="b1">Hilton Garden Inn</p>
        </div>
      </div>
      <div class="flex flex-col">
        <p class="b2">1800 NW Gilman Blvd, Issaquah, WA 98027</p>
        <div class="flex justify-between">
          <p class="b1">Venu</p>
          <p class="b1">The Rivers edge</p>
        </div>
      </div>
      <div class="flex flex-col">
        <p class="b2">10113 Upper Preston Rd SE, Issaquah, WA 98027</p>
        <div class="flex justify-between">
          <p class="b1">Attire</p>
          <p class="b1">Summer Cocktail Hour</p>
        </div>
      </div>
    </div>
  </div>
</div>
