<div
  class="relative col-span-12 flex flex-col justify-between pr-5 text-[88px] uppercase text-darkest md:hidden md:pl-0"
>
  <h2 class="left-20 top-0 -mb-10 mr-4 font-bell text-[58px]">
    C
    <span class="h1-desk font-mack">eramony</span>
  </h2>
  <h2
    class="h1-desk bottom-0 right-32 ml-auto flex w-full justify-between font-mack"
  >
    <span class="h1-desk font-bell lowercase">And</span>
    <span>
      Re<span class="h1-accent mr-4 font-bell text-[58px]">C</span>eption
    </span>
  </h2>
</div>
