<div
  class="col-span-12 h-min w-full bg-green shadow-xl md:top-0 md:col-start-7 md:col-end-11 md:ml-0 md:ml-5 md:pl-0"
  data-aos="fade-down"
  data-aos-duration="500"
>
  <div class="mx-[28px] flex flex-col-reverse py-10 text-darkest md:flex-col">
    <div class="flex flex-col gap-4 md:gap-8">
      <div class="flex flex-col">
        <div class="flex justify-between">
          <p class="b1">Shuttle</p>
          <p class="b1">3 to 4 PM</p>
        </div>
        <p class="b2 font-mack">From the Hilton Garden Inn every 15 minutes</p>
      </div>
      <div class="flex flex-col">
        <div class="flex justify-between">
          <p class="b1">Festivities</p>
          <p class="b1">4 TO 10 PM</p>
        </div>
        <p class="b2 max-w-[250px]">
          There will be lawn games, yummy food, fun drinks, and plenty of
          dancing
        </p>
      </div>
      <div class="flex flex-col">
        <div class="flex justify-between">
          <p class="b1">ceremony</p>
          <p class="b1">4 TO 4:45 PM</p>
        </div>
      </div>
      <div class="flex flex-col">
        <div class="flex justify-between">
          <p class="b1">Cocktail hour</p>
          <p class="b1">4:45 TO 5:30 PM</p>
        </div>
        <p class="b2 max-w-[250px]">by Salted Rim Mobile Bar Co.</p>
      </div>
      <div class="flex flex-col">
        <div class="flex justify-between">
          <p class="b1">RECEPTION</p>
          <p class="b1">5:30 TO 10 PM</p>
        </div>
        <p class="b2 max-w-[250px]">Pizza and more by Gusto’s</p>
      </div>
    </div>
    <h2 class="pb-4 font-mack text-5xl font-normal program-text uppercase md:pb-0 md:pt-8">Program</h2>
  </div>

  <div class="w-full bg-white pb-16 pr-6 shadow-polaroid md:pr-3">
    <div
      class="h-24 w-full bg-cover md:h-16"
      style={`background-image: url(${"/images/details/schedule.jpg"})`}
    >
    </div>
  </div>
</div>
