<div
  class="relative col-span-12 mb-auto hidden h-min md:block xl:col-span-10 xl:w-min"
  data-aos="fade-right"
  data-aos-duration="500"
>
  <h1
    class="align-middle font-mack text-[88px] font-normal uppercase text-darkest xl:whitespace-nowrap"
  >
    <span class="mr-4 font-bell text-[116px] h1-accent">A</span>ugust 26, 2023
    <br />
    <span class="ml-[163px]">
      <span class="font-bell h1-accent mr-4 text-[116px] lowercase">at</span> The Rivers Edge
    </span>
    <br />
    Issaquah, WA
  </h1>
  <p class="absolute bottom-4 right-0 hidden text-right lg:block b1">
    ON A SATURDAY<br /> BY THE RIVER<br /> IN THE PACIFIC NORTHWEST
  </p>
</div>
