---
import Heading from "./Heading.astro";
import MobileTopText from "./MobileTopText.astro";
import Collage from "./Collage.astro";
import Polaroid from "./Polaroid.astro";
---

<header class="">
  <div class="md:h-screen">
    <div
      class="section relative my-auto flex flex-col px-5 py-14 md:mx-16 md:grid md:max-h-[1080px] md:grid-cols-12"
      id="home"
    >
      <MobileTopText />
      <Heading />

      <Collage />

      <Polaroid />
    </div>
  </div>
</header>
