---
import Heading from "./Heading.astro";
import MobileTopText from "./MobileTopText.astro";
import Collage from "./Collage.astro";
import Polaroid from "./Polaroid.astro";
---

<header class="w-full">
  <div
    class="section relative flex w-full flex-col overflow-hidden py-14 md:mx-16 md:grid md:grid-cols-12"
    id="home"
  >
    <MobileTopText />
    <Heading />

    <Collage />

    <Polaroid />
  </div>
</header>
