<div
  class="relative col-span-12 mx-auto flex w-full flex-col px-5 uppercase text-darkest md:hidden md:pl-10"
>
  <div class="mt-20 flex items-end justify-between gap-4 b1">
    <div class="flex flex-col">
      <p>Kristina Helena Matuška</p>
      <p>Robert Daniel Rosenberg</p>
    </div>
    <p>ON A SATURDAY</p>
  </div>
  <div class="-mt-8 mb-10 flex w-full items-end justify-between">
    <div class="flex flex-col">
      <h2 class="left-20 top-0 mr-4 translate-y-10 font-bell text-[58px]">
        A<span class="h1-desk font-mack">ugust 26, 2023</span>
      </h2>
      <h2 class="h1-desk font-mack">
        <span class="h1-accent mr-4 font-bell text-[58px] lowercase">at</span> THE
        RIVERS
      </h2>
      <div class="-mt-14 flex w-full items-center justify-between b1">
        <p>BY THE RIVER</p>
        <h2 class="h1-desk font-mack">EDGE</h2>
      </div>
      <div class="-mt-14 flex flex-col">
        <h2 class="h1-desk -mb-4 font-mack">ISSAQUAH, WA</h2>
        <p class="b1">IN THE PACIFIC NORTHWEST</p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="relative col-span-12 mb-auto h-min xl:col-span-10 xl:w-min">
  <h1
    class="align-middle font-mack text-[88px] font-normal uppercase text-darkest xl:whitespace-nowrap"
  >
    <span class="tester mr-4 font-bell text-[116px]">A</span>ugust 26, 2023
    <br />
    <span class="ml-[163px]">
      <span class="tester mr-4 text-[116px] lowercase">at</span> The Rivers Edge
    </span>
    <br />
    Issaquah, WA
  </h1>
  <p class="absolute bottom-3 right-0 hidden text-right lg:block">
    ON A SATURDAY<br /> BY THE RIVER<br /> IN THE PACIFIC NORTHWEST
  </p>
</div> -->
