<div class="col-span-2 hidden xl:block">
  <div class="b1 mt-64">
    <p>Kristina Helena Matuška</p>
    <p class="ml-10">Robert Daniel Rosenberg</p>
  </div>
  <div
    class="mt-32 hidden bg-polaroid px-[6px] pb-12 pt-2 shadow-polaroid md:block"
  >
    <img
      class="h-auto w-full object-cover"
      src="/images/polaroid-1-opt.png"
      alt="Kristina showing her ring off with Robert"
    />
  </div>
</div>
