<div class="w-[40vw] bg-green">
  <div class="h-[50vh] w-full bg-white pr-5 shadow-polaroid">
    <img
      src="/images/register/walking-lg.jpg"
      alt="Kristina and Rob holding hands while walking."
      class="block w-full lg:hidden"
    />
    <div class="">form</div>
  </div>
  <img
    src="/images/register/leaves.jpg"
    alt="Leaves in a tree."
    class="w-full object-cover object-top"
  />
</div>
