---
import ArrowIcon from "../../ArrowIcon.astro";
---

<div
  class="-mt-10 w-full bg-green lg:w-[40vw]"
  data-aos="fade-down"
  data-aos-duration="500"
>
  <div class="bg-white pr-5 shadow-polaroid lg:mt-32 lg:h-[50vh]">
    <img
      src="/images/register/reg-img.png"
      alt="Kristina and Rob holding hands while walking."
      class="block w-full lg:hidden"
    />
    <div class="mx-5 py-10 lg:hidden">
      <a
        href="https://www.zola.com/wedding/matuskarosenbergwedding/rsvp"
        target="_blank"
        class="rsvp-text flex items-center font-mack text-[38px] md:text-[42px] lg:text-[44px]"
        >Send
        <span class="mx-8"><ArrowIcon /></span>RSVP</a
      >
      <p class="b2 my-6">
        Please let us know your plans by August 1, 2023. We hope to celebrate
        together!
      </p>
    </div>
    <div class="hidden h-full flex-col justify-center lg:flex lg:px-7">
      <a
        href="https://www.zola.com/wedding/matuskarosenbergwedding/rsvp"
        target="_blank"
        class="rsvp-text mb-8 flex items-center justify-center font-mack text-[42px] lg:text-[44px]"
        >Send
        <span class="mx-8"><ArrowIcon /></span>RSVP</a
      >
      <p class="b2">
        Please let us know your plans by August 1, 2023. We hope to celebrate
        together!
      </p>
    </div>
  </div>
  <img
    src="/images/register/leaves.jpg"
    alt="Leaves in a tree."
    class="w-full object-cover object-top"
  />
</div>
