---
import Registry from "./Registry.astro";
import Form from "./Form.astro";
---

<div
  class="relative col-span-12 mb-16 flex w-full flex-col-reverse md:col-start-3 md:col-end-11 md:flex-row lg:max-h-[80vh] lg:px-10"
>
  <Registry />
  <Form />
</div>
