<div class="flex w-full self-end bg-green-dark px-5 py-10" id="registry">
  <div class="flex w-full flex-col">
    <div class="flex w-full flex-col gap-8">
      <div class="flex flex-col">
        <div class="flex w-full justify-between">
          <p class="">CRATE & BARREL</p>
          <p class="">
            <a
              href="https://www.crateandbarrel.com/gift-registry/kristina-matuska-and-robert-rosenberg/r6707257?aff=cj&cjevent=288dc179fd9f11ed820f419e0a1eba24"
              class="w-min whitespace-nowrap uppercase underline decoration-green-darkest underline-offset-8"
              >BROWSE</a
            >
          </p>
        </div>
        <p class="font-mack font-normal">Registry</p>
      </div>
      <div class="flex flex-col">
        <div class="flex w-full justify-between">
          <p class="">CASHFUND</p>
          <p class="">
            <a
              href="https://www.honeyfund.com/site/matuska-rosenberg-08-26-2023"
              class="w-min whitespace-nowrap uppercase underline decoration-green-darkest underline-offset-8"
              >VIA HONEYFUND</a
            >
          </p>
        </div>
        <p class="">GIFT CARDS</p>
        <p class="font-mack font-normal">Crate & Barrel, AirBnb, Target</p>
      </div>
    </div>
    <div class="mt-24 flex flex-col">
      <h3 class="mb-8 font-mack text-2xl font-normal">Registry</h3>
      <p class="font-mack font-normal">
        Having you attend our wedding is the greatest gift of all. However, if
        you're looking for wedding gift ideas, we are registered at a few spots!
      </p>
    </div>
  </div>
</div>
