<div
  class="absolute bottom-10 left-0 right-0 top-0 -z-10 col-span-12 flex items-center px-10 uppercase text-darkest"
>
  <div class="flex w-full items-center">
    <h2 class="mr-4 font-mack text-[58px] md:text-[116px]">
      ST
      <span class="h1-desk font-bell">A</span>
      ying In
    </h2>
    <h2 class="h1-desk ml-auto font-mack text-[58px] md:text-[116px]">
      The <span class="h1-accent mr-4 font-bell">a</span>rea
    </h2>
  </div>
</div>
