<div
  class="relative -z-10 col-span-12 hidden items-center px-10 uppercase text-darkest md:absolute md:bottom-10 md:left-0 md:right-0 md:top-0 md:flex"
>
  <div class="flex w-full items-center">
    <h2 class="mr-4 whitespace-nowrap font-mack text-[42px] md:text-[88px] h1-desk">
      ST
      <span class="ml-[-48px] font-bell h1-accent text-[58px] md:text-[116px]">A</span>
      ying In
    </h2>
    <h2 class="h1-desk ml-auto font-mack text-[58px] md:text-[88px]">
      The <span class="h1-accent mr-4 font-bell">a</span>rea
    </h2>
  </div>
</div>
