<div
  class="relative -z-10 col-span-12 hidden items-center overflow-hidden px-10 text-[88px] uppercase text-darkest md:absolute md:bottom-10 md:left-0 md:right-0 md:top-0 xl:flex"
>
  <div class="flex w-full items-center">
    <h2
      class="h1-desk mr-4 whitespace-nowrap font-mack text-[42px] md:text-[88px]"
      data-aos="fade-right"
      data-aos-duration="500"
    >
      ST
      <span class="h1-accent ml-[-48px] font-bell text-[58px] md:text-[116px]"
        >A</span
      >
      ying In
    </h2>
    <h2
      class="h1-desk ml-auto font-mack text-[58px] md:text-[88px]"
      data-aos="fade-right"
      data-aos-duration="500"
    >
      The <span class="h1-accent mr-2 font-bell text-[58px] md:text-[116px]"
        >a</span
      >rea
    </h2>
  </div>
</div>
