---
import BgText from "./BgText.astro";
import BottomContent from "./BottomContent.astro";
import TopContent from "./TopContent.astro";
import KRLogo from "../KRLogo.astro";
import MobileTopText from "./MobileTopText.astro";
---

<section
  class="section relative grid grid-cols-12 pl-5 md:h-screen md:pl-0"
  id="travel"
>
  <div
    class="z-40 col-span-12 flex w-full justify-between gap-5 px-5 py-5 md:hidden"
  >
    <KRLogo />
    <a
      href="#rvsp"
      class="text-sm uppercase underline decoration-green-dark underline-offset-8"
      >RVSP</a
    >
    <button
      class="h-min text-sm uppercase underline decoration-green-dark underline-offset-8"
    >
      Menu
    </button>
  </div>
  <MobileTopText />
  <BgText />
  <TopContent />
  <BottomContent />

  <img
    src="/images/travel/center-image.jpg"
    alt="Kristina and Rob leaning against a historic building."
    class="absolute z-0 hidden h-auto w-[66px] -translate-x-1/2 bg-bottom object-cover md:left-1/2 md:right-1/2 md:block md:h-screen md:w-[33vw]"
  />

  <img
    src="/images/travel/mobile-top-image.jpg"
    alt="Kristina and Rob leaning against a historic building."
    class="absolute right-5 top-36 block h-auto w-[66px] md:hidden"
  />
</section>
