<div
  class="relative col-span-12 mb-20 flex w-full items-end justify-between pr-5 text-[88px] uppercase text-darkest md:hidden md:pl-0"
>
  <div class="flex flex-col">
    <h2 class="h1-desk mr-4 w-full translate-y-10 whitespace-nowrap font-mack">
      St
      <span class="font-bell text-[58px]">a</span>ying
    </h2>
    <h2 class="h1-desk mr-4 w-full font-mack">
      <span class=""> in the</span>
    </h2>
  </div>
  <h2 class="h1-desk flex w-min font-mack">
    <span class="h1-accent ml-auto mr-4 font-bell text-[58px]">A</span>rea
  </h2>
</div>
