<div
  class="relative z-20 col-span-12 grid h-min w-full grid-cols-12 items-center px-10"
>
  <div class="col-span-3 grid w-full grid-cols-8">
    <div class="col-span-5 bg-green-dark pb-8 pr-4">
      <div class="flex w-full flex-col bg-white px-5 py-10 shadow-polaroid">
        <h3 class="mb-4 font-mack text-2xl">Hilton Garden Inn</h3>
        <div class="mb-6 font-mack">
          <p class="mb-2">1800 NW Gilman Blvd, Issaquah, WA 98027</p>
          <p class="">
            We have a room block discount from August 24-28, book by July 27,
            2023
          </p>
        </div>

        <a
          href="https://www.hilton.com/en/attend-my-event/seaisgi-rkw824-52197a57-a501-43f2-8f5f-318571cd4680/"
          target="_blank"
          class="w-min whitespace-nowrap uppercase underline decoration-green-dark underline-offset-8"
        >
          view website
        </a>
      </div>
    </div>
    <img
      class="col-span-3 -ml-4 aspect-square object-cover"
      src="/images/travel/hilton.jpg"
      alt="Hilton Garden Inn"
    />
  </div>
  <div class="col-span-3 grid h-full w-full grid-cols-8">
    <div class="col-span-5 bg-green-dark pb-8 pr-4">
      <div
        class="col-span-5 flex h-full w-full flex-col bg-white px-5 py-10 shadow-polaroid"
      >
        <h3 class="mb-4 font-mack text-2xl">Snoqualmie Inn</h3>
        <div class="mb-auto">
          <p class="mb-2 font-mack">
            35228 Snoqualmie Pkwy, Snoqualmie, WA 98065
          </p>
        </div>

        <a
          href="https://www.hilton.com/en/attend-my-event/seaisgi-rkw824-52197a57-a501-43f2-8f5f-318571cd4680/"
          target="_blank"
          class="w-min whitespace-nowrap uppercase underline decoration-green-dark underline-offset-8"
        >
          view website
        </a>
      </div>
    </div>
    <img
      class="col-span-3 -ml-4 aspect-square object-cover"
      src="/images/travel/snoqualmie.jpg"
      alt="Snowqualmie Inn"
    />
  </div>
  <div class="col-start-10 col-end-12">
    <p class="uppercase">
      fun thing to do<br />
      <a
        href="https://www.wta.org/go-hiking/hikes/rattlesnake-ledge#hike-full-description"
        target="_blank"
        class="underline decoration-green-dark underline-offset-8"
      >
        Rattlesnake lodge</a
      >
    </p>
    <p class="mt-6 font-mack">
      Popular 4 mile hike with beautiful panoramic views of nearby mountains and
      water.
    </p>
  </div>
</div>
