---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
import Details from "../components/Details/index.astro";
import Travel from "../components/Travel/index.astro";
import "../styles/styles.css";
import KRLogo from "../components/KRLogo.astro";
---

<MainLayout title="Home">
  <div class="relative flex flex-col">
    <div
      class="fixed right-16 top-16 z-40 hidden flex-col items-end gap-12 md:flex"
    >
      <KRLogo />
      <a
        href="#rvsp"
        class="text-sm underline decoration-green-dark underline-offset-8"
        >RVSP</a
      >
    </div>

    <!-- <Hero /> -->

    <Details />

    <Travel />
  </div>
  <!-- <div class="mx-16 mt-14 flex justify-between">
    <div class="">
      <h1 class="text-[88px] text-darkest uppercase font-mack font-normal align-middle">
        <span class="font-bell text-[116px] mr-4 tester">A</span>ugust 26, 2023
        <br>
        <span class="ml-[163px]">
          <span class="text-[116px] mr-4 tester lowercase">at</span> The Rivers Edge
        </span>
        <br>
        Issaquah, WA
      </h1>
      <img class="mt-20" src="/images/hero-image.png" alt="a collage of Robert and Kristina pictures">
    </div>
    <div class="">
      <div>
        <KRLogo class="ml-auto" />
      </div>
      <div class="text-right mt-14 b1">
        <a href="#rsvp" class="underline">RSVP</a>
      </div>
      <div class="b1 mt-16">
        <p>Kristina Helena Matuška</p>
        <p class="ml-10">Robert Daniel Rosenberg</p>
      </div>
      <div class="pt-2 px-[6px] pb-12 bg-polaroid shadow-polaroid mt-32">
        <img class="w-48 h-48" src="/images/polaroid-1-opt.png" alt="Kristina showing her ring off with Robert">
      </div>
    </div>
  </div> -->
</MainLayout>
