---
import MainLayout from "../layouts/MainLayout.astro";
import MobileNav from "../components/MobileNav.svelte";
import MobileFooterNav from "../components/MobileFooterNav.astro";

import Hero from "../components/Hero/index.astro";
import Details from "../components/Details/index.astro";
import Travel from "../components/Travel/index.astro";
import Register from "../components/Register/index.astro";
import "../styles/styles.css";
import KRLogo from "../components/KRLogo.astro";

import mobileNavBg from "../../public/images/hero/hero-mobile-nav-bg.jpg";
import { inject } from '@vercel/analytics';

inject();
---

<head>
  <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎯</text></svg>"
  />
</head>
<MainLayout title="Home">
  <div class="relative flex flex-col">
    <div
      class="fixed right-16 top-16 z-40 hidden flex-col items-end gap-12 md:flex"
      data-aos="fade-left"
      data-aos-duration="500"
    >
      <KRLogo />
      <a
        href="https://www.zola.com/wedding/matuskarosenbergwedding/rsvp"
        target="_blank"
        class="b1 font-gothic-w underline decoration-green-dark hover:decoration-black underline-offset-8"
        >RVSP</a
      >
    </div>

    <div class="mx-auto w-full max-w-[1920px]">
      <MobileNav client:load />
      <Hero />
      <MobileFooterNav
        text="Details"
        link="/details"
        bg="/images/hero/hero-mobile-nav-bg.jpg"
      />
    </div>
  </div>
</MainLayout>
