---
import MainLayout from "../layouts/MainLayout.astro";
import MobileNav from "../components/MobileNav.svelte";

import Hero from "../components/Hero/index.astro";
import Details from "../components/Details/index.astro";
import Travel from "../components/Travel/index.astro";
import Register from "../components/Register/index.astro";
import "../styles/styles.css";
import KRLogo from "../components/KRLogo.astro";
---

<head>
  <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎯</text></svg>"
  />
</head>
<MainLayout title="Home">
  <div class="relative flex flex-col">
    <div
      class="fixed right-16 top-16 z-40 hidden flex-col items-end gap-12 md:flex"
      data-aos="fade-left"
      data-aos-duration="500"
    >
      <KRLogo />
      <a
        href="#rvsp"
        class="text-sm font-gothic-w underline decoration-green-dark hover:decoration-black underline-offset-8"
        >RVSP</a
      >
    </div>

    <div class="mx-auto max-w-[1920px]">
      <MobileNav client:load />
      <Hero />
    </div>
  </div>
  <!-- <div class="mx-16 mt-14 flex justify-between">
    <div class="">
      <h1 class="text-[88px] text-darkest uppercase font-mack font-normal align-middle">
        <span class="font-bell text-[116px] mr-4 tester">A</span>ugust 26, 2023
        <br>
        <span class="ml-[163px]">
          <span class="text-[116px] mr-4 tester lowercase">at</span> The Rivers Edge
        </span>
        <br>
        Issaquah, WA
      </h1>
      <img class="mt-20" src="/images/hero-image.png" alt="a collage of Robert and Kristina pictures">
    </div>
    <div class="">
      <div>
        <KRLogo class="ml-auto" />
      </div>
      <div class="text-right mt-14 b1">
        <a href="#rsvp" class="underline">RSVP</a>
      </div>
      <div class="b1 mt-16">
        <p>Kristina Helena Matuška</p>
        <p class="ml-10">Robert Daniel Rosenberg</p>
      </div>
      <div class="pt-2 px-[6px] pb-12 bg-polaroid shadow-polaroid mt-32">
        <img class="w-48 h-48" src="/images/polaroid-1-opt.png" alt="Kristina showing her ring off with Robert">
      </div>
    </div>
  </div> -->
</MainLayout>
