<div class="section pt-20 grid grid-cols-12" id="details">
  <div class="col-start-2 col-end-6 bg-white">
    <div class="mx-[28px]">
      <p class="b1">No parking available at the venue</p>
      <div class="flex justify-between">
        <p class="b1">Parking and Shuttle</p>
        <p class="b1">Hilton Garden Inn</p>
      </div>
      <p class="b2">1800 NW Gilman Blvd, Issaquah, WA 98027</p>
    </div>

  </div>

  <!-- <div class="text-darkest uppercase text-[88px] mx-16 grid ">
   <h2 class="font-bell text-[116px] mr-4">
    C
    <span class="h1-desk font-mack">eramony And</span>
   </h2>
   <h2 class="h1-desk font-mack">
    And Re<span class="font-bell h1-accent text-[116px] mr-4">C</span>eption
   </h2>
  </div> -->
</div>