---
import "../styles/styles.css";
import KRLogo from "../components/KRLogo.astro";
---

<div
  class="section mx-16 flex flex-col-reverse justify-between pt-14 md:flex-row"
  id="home"
>
  <div class="">
    <h1
      class="align-middle font-mack text-[88px] font-normal uppercase text-darkest"
    >
      <span class="tester mr-4 font-bell text-[116px]">A</span>ugust 26, 2023
      <br />
      <span class="ml-[163px]">
        <span class="tester mr-4 text-[116px] lowercase">at</span> The Rivers Edge
      </span>
      <br />
      Issaquah, WA
    </h1>
    <img
      class="mt-20"
      src="/images/hero-image.png"
      alt="a collage of Robert and Kristina pictures"
    />
  </div>
  <div class="">
    <!-- <div>
      <KRLogo class="ml-auto" />
    </div>
    <div class="b1 mt-14 text-right">
      <a href="#rsvp" class="underline">RSVP</a>
    </div> -->
    <div class="b1 mt-64">
      <p>Kristina Helena Matuška</p>
      <p class="ml-10">Robert Daniel Rosenberg</p>
    </div>
    <div
      class="mt-32 hidden bg-polaroid px-[6px] pb-12 pt-2 shadow-polaroid md:block"
    >
      <img
        class="h-48 w-48"
        src="/images/polaroid-1-opt.png"
        alt="Kristina showing her ring off with Robert"
      />
    </div>
  </div>
</div>
