---
const links = [
  {
    name: "home",
    slug: "/",
  },
  {
    name: "details",
    slug: "/details",
  },
  {
    name: "travel",
    slug: "/travel",
  },
  {
    name: "registry / rsvp",
    slug: "/register",
  },
];
---

<div
  class="fixed left-0 top-0 hidden h-full w-16 flex-col items-center justify-between overflow-x-hidden bg-nav py-6 align-middle md:flex"
  data-aos="fade-right"
  data-aos-duration="500"
>
  <span class="b2">08</span>
  <div class="b1 flex flex-col justify-between gap-20">
    {
      links.map((link) => (
        <a class="-rotate-90 uppercase" href={`${link.slug}`}>
          {link.name}
        </a>
      ))
    }
  </div>
  <!-- <div class="b1 flex flex-col justify-between gap-20">
    <a href="/" class="-rotate-90 uppercase">Home</a>
    <a href="/details" class="-rotate-90 uppercase">Details</a>
    <a href="/travel" class="-rotate-90 uppercase">travel</a>
    <a href="/register" class="-rotate-90 uppercase">register
    <span class="mx-1">/</span>rsvp</a>
  </div> -->
  <span class="b2">26</span>
</div>
