---
const links = [
  {
    name: "home",
    slug: "/",
  },
  {
    name: "details",
    slug: "/details",
  },
  {
    name: "travel",
    slug: "/travel",
  },
  {
    name: "registry / rsvp",
    slug: "/register",
  },
];

const currentPath = Astro.url.pathname;

console.log(currentPath, links[0].slug);
---

<div
  class="fixed left-0 top-0 hidden h-full w-16 flex-col items-center justify-between overflow-x-hidden bg-nav py-6 align-middle md:flex"
  data-aos="fade-right"
  data-aos-duration="500"
>
  <span class="b2">08</span>
  <div class="b1 flex flex-col justify-between gap-20">
    {
      links.map((link) => (
        <a
          class={` relative h-min -rotate-90 uppercase  `}
          href={`${link.slug}`}
        >
          <span
            class={`${
              currentPath === link.slug ? "active" : ""
            } link relative ${
              currentPath === link.slug
                ? "  underline decoration-green-darkest underline-offset-8"
                : ""
            }  hover:underline hover:decoration-green-darkest hover:underline-offset-8 `}
          >
            {link.name}
          </span>
        </a>
      ))
    }
  </div>

  <span class="b2">26</span>
</div>

<style>
  .link:hover:after {
    content: "";
    background-color: black;
    height: 4px;
    width: 4px;
    border-radius: 100%;

    position: absolute;
    bottom: -23px;
    left: 50%;
    transform: translateX(-50%);
  }

  .active::after {
    content: "";
    background-color: black;
    height: 4px;
    width: 4px;
    border-radius: 100%;

    position: absolute;
    bottom: -23px;
    left: 50%;
    transform: translateX(-50%);
  }
</style>
