<div
  class="relative col-span-12 hidden flex-col justify-between pl-5 text-[88px] uppercase text-darkest md:absolute md:bottom-10 md:left-0 md:right-0 md:top-0 md:-z-10 md:flex md:pl-0"
>
  <h2
    class="absolute left-10 top-0 mr-4 font-bell text-[58px] md:text-[116px] xl:left-20 leading-[0]"
  >
    <span>W</span>
    <span class="h1-desk font-mack text-[44px] md:text-[88px]">e warmly<br /> Invite you</span>
    <span class="lowercase">to</span>
  </h2>
  <h2 class="h1-desk absolute bottom-0 left-10 font-mack xl:left-20">
    Celebrate
    <span class="h1-accent mr-4 font-bell text-[58px] md:text-[116px]">
      W</span
    >ith us
  </h2>
</div>
