<div
  class="relative col-span-12 mx-auto flex w-full flex-col pr-5 uppercase text-darkest sm:pl-5 md:hidden md:pl-10"
>
  <div class="flex items-end justify-between">
    <div class="flex flex-col">
      <h2 class="left-20 top-0 mr-4 translate-y-10 font-bell text-[58px]">
        W<span class="h1-desk font-mack">e &nbsp;warmly</span>
      </h2>
      <h2 class="h1-desk font-mack">invite you</h2>
    </div>
    <span class="h1-accent font-bell text-[58px] lowercase">to</span>
  </div>

  <h2 class="h1-desk ml-auto -translate-y-10 font-mack">Celebrate</h2>
  <div class="flex -translate-y-20 items-center justify-between">
    <h2 class="h1-desk font-mack">
      <span class="h1-accent font-bell text-[58px]">W</span>
      ith us
    </h2>
    <p class="text-sm">WE CAN'T WAIT,<br />SEE YOU SOON</p>
  </div>
</div>
