---
import Nav from "../components/Nav.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/images/KR.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/dpz4njr.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>{title}</title>
  </head>
  <body class="bg-primary">
    <div class="">
      <Nav />
      <div class="scroll-container md:ml-16">
        <slot />
      </div>
    </div>
    <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script is:inline>
      AOS.init();
    </script>
  </body>
  <!-- <footer>Foot</footer> -->
</html>

<style is:global>
  @font-face {
    font-family: "BellissimaScriptPro";
    src: url("/fonts/BellissimaScriptPro.otf") format("otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry, i) => {
      if (entry.isIntersecting) {
        console.log(i);
        entry.target.classList.add("origin-show");
      }
    });
  });

  const hiddenElements = document.querySelectorAll(".origin-hidden");
  hiddenElements.forEach((el) => observer.observe(el));

  //AOS FIX FOR SNAP SCROLL, CURRENTLY NOT WORKING
  // const aosAnimation = document.querySelectorAll("[data-aos]");
  // const observer = new IntersectionObserver((entries) => {
  //   entries.forEach((entry) => {
  //     if (entry.intersectionRatio > 0) {
  //       entry.target.classList.add("aos-animate");
  //     } else {
  //       entry.target.classList.remove("aos-animate");
  //     }
  //   });
  // });
  // aosAnimation.forEach((aosObject) => {
  //   observer.observe(aosObject);
  // });
</script>
